:root {
  --primaryRed: #ec0d13;
  --primaryEmerald: #34d399;
  --primaryPurple: #a668f2;
  --borderColor: #374151;
  --bgPrimary: #0b111c;
  --bgSecondary: #0e1522;
  --bgTernary: #141d2e;
  --textSecondary: #b8bdc5;
}

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0d0d0d;
  font-family: "League Spartan", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.App {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(33, 32, 32, 0.5);
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--borderColor);
  padding: 1.3rem;
  margin-bottom: 2.5rem;
}

.nav-group {
  min-width: 15rem;
  display: flex;
  justify-content: space-around;
}

.nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  transition: 0.1s all;
}

.nav-link:hover {
  color: var(--primaryEmerald);
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 0.5px;
  background-color: plum;
  transition: width 0.3s;
}

@media screen and (max-width:767px) {
  .navbar {
    font-size: xx-small;
  }
}

/* .........  */
.intro_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  min-height: 25rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  z-index: -1;
  background-image: url(../Images/bubble-animated-background.svg);
}

.heading_one {
  font-weight: bold;
  text-transform: capitalize;
  color: #7c3e66;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-left: 0.1rem;
  color: transparent;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: #ccd6a6;
}

.image_container img {
  width: 21rem;
  z-index: -1;
}

.heading_three {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(157, 150, 150);
}

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap");

.name {
  background: -webkit-linear-gradient(rgb(27, 27, 46), rgb(82, 5, 82));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 0.6rem;
  font-weight: bolder;
  font-family: "Spartan", sans-serif;
  background-color: rgb(33, 26, 27);
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(184, 71, 194);
}

.fluid-animated {
  width: 100%;
  min-height: 14rem;
  min-width: 14rem;
  max-height: 14rem;
  max-width: 14rem;
  -webkit-animation: move 5s infinite linear alternate;
  animation: move 3s infinite alternate linear;
  justify-content: center;
}

@-webkit-keyframes move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50px);
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50px);
  }
}

.intro_content {
  line-height: 1.2;
  margin-left: 1.4rem;
  position: relative;
  animation: slide-in-right 2s both;
}

@keyframes slide-in-right {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100px);
  }
}

@keyframes slide-in-right {
  0% {
    right: -55rem;
  }

  100% {
    right: 0.5rem;
  }
}

.btn {
  font-size: 1rem;
  color: rgb(149, 146, 140);
  font-family: inherit;
  background-color: transparent;
  padding: 0.8rem 2rem;
  border-color: purple;
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: -0.9rem;
  transition: 0.5s;
}

.btn:hover {
  background: linear-gradient(to right, black, purple);
}

/* About Section */

.about_intro {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  flex-direction: row-reverse;
  flex-direction: row;
  align-items: center;
}

.Owner_p {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
  line-height: 1.6;
  max-width: 22rem;
  font-weight: 100;
}

.header {
  font-size: 4rem;
  color: grey;
}

.about_image {
  max-width: 25rem;
  background: #0d0d0d;
}


/* Project Section */
.header {
  padding: 1.7rem 0;
}

/* Section */
.projects-section {
  padding: 3rem 1rem;
}

/* Header */
.projects-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  color: #fff;
}

/* Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Card */
.project-card {
  background-color: #0f0f0f;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.6);
}

.project-card:hover .project-image img {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.project-image img {
  height: 150px;
  /* width: 100%; */
  filter: brightness(100%) contrast(120%);
}

.project-body {
  padding: 1rem;
}

.project-body p {
  font-size: 0.9rem;
  line-height: 1.3;
  flex-grow: 1;
  color: #cfcfcf;
}

/* Tech stack */
.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.8rem 0 1rem;
}

.project-tech span {
  background-color: #1e1e1e;
  padding: 0.35rem 0.65rem;
  border-radius: 12px;
  font-size: 0.75rem;
}

/* Buttons */
.project-links {
  display: flex;
  gap: 1rem;
}

.project-btn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.45rem 0.8rem;
  border-radius: 20px;
  background-color: #1c1c1c;
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}

.project-btn:hover {
  background-color: #e5d68a;
  color: #000;
  transform: translateY(-2px);
}

/* Tablet */
@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/* blog section */
.blogs-content {
  margin-top: 4rem;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Footer Section */
.footer {
  margin-top: 2rem;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
}

/* Social icons container */
.social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* Individual icon */
.social-icon {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  background-color: rgb(175, 218, 34);
  color: #000;
  transform: translateY(-4px);
}


.blogs-content {
  margin-top: 4rem;
}

._blog_container {
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.blog_image {
  width: 100%;
  min-height: 11rem;
  max-height: 11rem;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}

a {
  margin: 13px;
}

/* SKILLS */
.skills-container {
  margin: 3rem auto;
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.25rem;
  align-items: stretch;
}

.skillBullet {
  padding: 0.7rem 2rem;
  background: #141414;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 2rem;
}

.skillBullet img {
  filter: grayscale(100%) contrast(115%);
}

.icons-colols {
  background-color: wheat;
  border-radius: 20px;
  padding: 2px;
}

.skillBullet:hover {
  box-shadow: none;
  background-color: #52525c;
}

@media screen and (max-width:768px) {
  .skills {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}